<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{title}} - COMP110 - 24S</title>
  <link rel="icon" type="image/png" href="/static/cottage_logo.png" />
  {# BOOTSTRAP CDN #}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/styles.css?v={{time_stamp}}">
  {#
  <script src="/static/scripts/nav-menu-esc.js"></script> 
  #}
</head>


<body id="body" class="absolute-page">
    <script>
        document.body.classList.remove('light-mode');
        document.body.classList.remove('dark-mode');
        document.body.classList.add(localStorage.getItem('mode'));
    </script>
  <script src="/static/scripts/nav-menu-esc.js"></script> 
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark py-1 fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="lightmode-element-only img-fluid logo" src="/static/assets/cottagecore_nav.png"
        alt="COMP110 - Spring - 2024"><img class="darkmode-element-only img-fluid logo" src="/static/cottagebrand_dark.png"
        alt="COMP110 - Spring - 2024"></a>
      {# Hamburger Icon on smaller screens #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" onclick="esc_key()" data-bs-target="#navmenu" aria-label="Main Menu" aria-controls="#navmenu" role="navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {# Navbar Links #}
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " href="/">agenda</a>
          </li>
          {#
          <li class="nav-item">
            <a href="/lessons-page" class="nav-link">lessons</a>
          </li>
          #}
          <li class="nav-item">
            <a href="/resources" class="nav-link">resources</a>
          </li>
           {#
            <li class="nav-item">
              <a href="/topics" class="nav-link">topics</a>
            </li>
          #}
          
          <li class="nav-item">
            <a href="/support" class="nav-link">support</a>
          </li>
         
          <li class="nav-item">
            <a href="/resources/syllabus.html" class="nav-link">syllabus</a>
          </li>
          
          <li class="nav-item">
            <a href="/resources/team.html" class="nav-link">team110</a>
          </li>
         
        </ul>
      </div>
      <div id='mode-switch' class="ms-auto form-check form-switch mode switches">
              <div class="switches">
                  <input type="checkbox" id="1" onclick="
                      if (localStorage.getItem('mode') === 'dark-mode') {
                          localStorage.setItem('userPref', 'light-mode');
                          localStorage.setItem('mode', 'light-mode');
                      } else {
                          localStorage.setItem('userPref', 'dark-mode');
                          localStorage.setItem('mode', 'dark-mode');
                      }
                      location.reload();">
                  <label for="1">
                      <span id="mode-label">Dark Mode</span>
                      <span></span>
                  </label>
                  <script>if(localStorage.getItem('mode') === 'dark-mode'){document.getElementById("1").checked = true}</script>
                  <script>if(localStorage.getItem('userPref') === null) {setTimeout(function(){location.reload();}, (timer * 3600000));}</script>
              </div>
          </div>
    </div>
  </nav>

  {# CONTENT #}
  <div class="cloud-container">
    <div id="cloud-intro">
  <div id="{{page}}-page" class="container">
    <div class="row pt-4">
      <div class="col-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    

    {% block content %}{% endblock %}
    </div>
    </div>
    {# CONTRIBUTORS BOX #}
    <div class="authors-box bg-dark mt-4 py-3 ps-4">
      <span> Contributor(s):
        {%- if author != "" -%}
        {%- for person in range(author|length-1) %}
        {{ author[person] + "," }}
        {%- endfor -%}
        {{" " + author[author|length-1]}}
        {%- endif -%}
      </span>
    </div>

  </div>
  {# PAGE FOOTER #}
  <div class='link-page mt-3 container'>
    <footer>
      <h3 class="text-center align-middle footer-text">&copy; 2024 <a href="https://krisjordan.com">Kris Jordan</a>
        - <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSenaJ2uZ_n2FfAb2PWL6YPG4AUT-G2-xVJP6HIwMr6cd6nSYA/viewform?usp=sf_link">Feedback
          Form</a>
        - Made with 💛 in <a href="https://cs.unc.edu/">Chapel Hill</a></h3>
    </footer>
  </div>
  {# SCRIPTS FOR BOOTSTRAP #}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <!-- Code Block Formatting -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <script>hljs.highlightAll();</script>
  
</body>

</html>
